# dependencies
/node_modules

# build
/dist
/build
/.vercel

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# agent scratch
/_flyer_extract
/game-extract
